:root {
    /* Paleta ICESI */
    --icesi-blue: #5454e9;
    --icesi-white: #ffffff;
    --icesi-yellow: #e4eb60;
    --icesi-green: #4cb979;
    --icesi-purple: #865cf0;
    --icesi-orange: #e9683b;
    
    --sidebar-width: 300px;
    --header-height: 70px; 
}

* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Header */
header {
    background-color: var(--icesi-blue);
    color: var(--icesi-white);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hamburger {
    font-size: 26px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding: 5px;
}

.site-title {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}


.logo-icesi {
    height: 45px; 
    width: auto;
    filter: brightness(0) invert(1); 
    opacity: 0.9;
}


.main-container {
    display: flex;
    flex: 1;
    height: calc(100vh - var(--header-height));
}


#sidebar {
    width: var(--sidebar-width);
    background-color: #f8f9fa;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0;
    transition: margin-left 0.3s ease;
}

#sidebar.collapsed {
    margin-left: calc(var(--sidebar-width) * -1);
}

/* Menú Items */
.menu-item { 
    cursor: pointer; 
    user-select: none; 
    transition: background-color 0.2s ease;
}

.level-curso { 
    background-color: #4a4ac2; 
    color: white; 
    padding: 18px 20px; 
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-weight: 700;
    font-size: 1rem;
}

.level-unidad { 
    background-color: #f1f3f5; 
    padding: 12px 20px; 
    border-left: 5px solid var(--icesi-purple);
    font-weight: 600;
    font-size: 0.95rem;
    color: #333;
}

.level-semana { 
    background-color: #ffffff; 
    padding: 10px 20px 10px 30px; 
    color: #555;
    font-weight: 500;
    font-size: 0.9rem;
    border-left: 5px solid var(--icesi-orange);
    border-bottom: 1px solid #f0f0f0;
}

.level-sesion { 
    padding: 10px 20px 10px 45px; 
    font-size: 0.85rem;
    color: #666;
    display: block;
    border-left: 5px solid var(--icesi-green);
    background-color: #fff;
}

.level-sesion:hover {
    background-color: var(--icesi-yellow);
    color: #000;
    font-weight: 600;
}


#content-area {
    flex: 1;
    background-color: #525659;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.hidden { display: none; }

#md-viewer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 24px;
  background: #ffffff;
  color: #111;
}
